.brand__container {
  display: flex;
  align-items: center;
  cursor: pointer;
  .brand__logo {
    margin: 10px;
    .fa-youtube {
      color: red;

      font-size: 1.5rem;
      position: relative;
      z-index: 0;
      &::after {
        content: "";
        position: absolute;
        top: 20%;
        left: 20%;
        background-color: white;
        width: 50%;
        height: 50%;
        z-index: -1;
      }
    }
  }
  .brand__name {
    color: white;
    letter-spacing: -2px;
    font-size: 1.5rem;
    font-weight: 400;
  }
}
