@import "../../App.scss";
.signbtn {
  margin: 5px 0;
  padding: 8px 30px;
  border: 1px solid #3ea6ff;
  border-radius: 2px;
  text-decoration: none;
  color: #3ea6ff;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
}
